<div style="background-color:cornsilk">
    <div class="connection_error">
        @{
            ViewData["Title"] = "Connection_Error";
        }

        <h2>Brak połączenia</h2>


        <img src="~/images/icons/connection_error.png" class="center-block" />
        <br />
        <b>Czy chcesz wczytać ostatnią <br />zapisaną listę zakupów?</b>
        <br />
        <button class="button_yes">Tak</button>
        <button class="button_no"> Nie</button>



    </div>
</div>